@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.text-center{
    text-align: center;
}
header nav{
    background-color: #ffffff;
    padding: 35px 0;
    min-height: 150px
}
header div.banner{
    background-image: url('../images/banner.jpg');
    height: 530px;
    /* background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y: 0%; */
    margin: 0;
    padding: 0;
    position: relative;
}
header div.banner::after{
     content: '';
     width: 100%;
     height: 100%;
     position: absolute;
     display: block;
     background-color: rgba(0,0,0, 0.4);
     top: 0;
     left: 0;
}

header .banner div {
    text-align: center;
    position: relative;
    top: 27%;
    z-index: 999;
}
header div h1{
    color: #ffffff;
    margin: 0;
    font-size: 42px;
}
header a.btn-large{
    background-color: #ffba00 !important;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-top: 32px;
    width: 232px;
}
#intro{
    padding: 60px 0;
    margin-bottom: 42px;
}
#features{
    padding: 0 37px;
    margin-bottom: 44px;
}
.figure{
    background-color: #f7f7f7;
    text-align: center;
    padding-bottom: 43px;
}
.figure h5{
    color: #ffba00;
    font-size: 21px;
    font-weight: 500;
    margin-top:35px;
}
.figure p{
    padding: 0 20%;
    font-size: 16px;
}

footer{
    background-color: #383838;
    color:#ffffff;
    padding: 57px 0 35px;
}
footer .footer-wrap div{
    width: 50%;
}
footer .footer-wrap div:first-child{
    text-align: right
}

footer .footer-wrap div:last-child{
    text-align: left;
}
footer .footer-wrap div:last-child p{
    margin: 0;
}

@media (max-width: 600px) { 
    body{
        font-size: 16px;
    }
    header .banner div {
        top: 20%;
    }
    header .banner h1{
        font-size: 32px;
    }
    header div.banner{
        height: 400px;
        padding: 0 10%;
    }
    #intro{
        padding-left: 7%;
        padding-right: 7%;
    }
    footer .footer-wrap div{
        width: 100%;
        text-align: center !important;
    }
    footer .footer-wrap img{
        margin-bottom: 20px;
    }
}
  
  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) { 
  }
  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) { }
  
  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {  }
  
  /* // Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) { }